[submodule "lib/SDL3"]
	path = lib/SDL3
	url = https://github.com/libsdl-org/SDL
[submodule "lib/SDL3_image"]
	path = lib/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "lib/SDL3_ttf"]
	path = lib/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
